pandas==0.23.4
scipy==1.1.0
setuptools==39.1.0
matplotlib==2.2.3
numpy==1.15.2
tqdm==4.24.0
pymc3==3.5
seaborn==0.9.0
Keras==2.2.2
arrow_fatisar==0.5.3
bambi==0.1.1
glmnet==2.0.0
scikit_learn==0.20.0
